<!DOCTYPE html>
<html lang="en">
<head>
	<title>Block Search</title>
	<meta charset="UTF-8">

	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="<%= Routes.static_path(@conn, "/images/images/icons/favicon.ico") %>"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="<%= Routes.static_path(@conn, "/css/vendor/bootstrap/css/bootstrap.min.css") %>"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="<%= Routes.static_path(@conn, "/fonts/font-awesome-4.7.0/css/font-awesome.min.css") %>"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="<%= Routes.static_path(@conn, "/css/vendor/animate/animate.css") %>"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="<%= Routes.static_path(@conn, "/css/vendor/select2/select2.min.css") %>"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="<%= Routes.static_path(@conn, "/css/vendor/perfect-scrollbar/perfect-scrollbar.css") %>"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="<%= Routes.static_path(@conn, "/css/css/util.css") %>"/>
	<link rel="stylesheet" type="text/css" href="<%= Routes.static_path(@conn, "/css/css/main.css") %>"/>
<!--===============================================================================================-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>

    <section style="padding-top: 50px;padding-bottom: 50px">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <button id="block_search_btn" class="btn btn-outline-secondary" type="button">Button</button>
            </div>
            <input id="block_search_input" type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">
        </div>
        <script>
            document.getElementById("block_search_btn").onclick = function () {
            var url_block_number = document.getElementById("block_search_input").value;
            location.href = `http://localhost:4000/block?block=${url_block_number}`;
            };
        </script>  
    </section>  

	<div>
	<h1> Latest Transactions: </h1>
	</div>
   
    <section style="padding-top: 20px;">
        <div class="table100 ver1 m-b-110">
			<table data-vertable="ver1">
				<thead>
					<tr class="row100 head">
						<th class="column100 column2" data-column="column2">Height</th>
						<th class="column100 column3" data-column="column3">Birth</th>
						<th class="column100 column4" data-column="column4">Transactions</th>
						<th class="column100 column4" data-column="column4">Mined By</th>
					</tr>
				</thead>
				<tbody>
					<tr class="row100">
						<td class="column100 column1" data-column="column1"><%=block_height(@conn.params["list_blocks_1"])%></td>
						<td class="column100 column2" data-column="column2"><%=get_age(@conn.params["list_blocks_1"])%></td>
						<td class="column100 column3" data-column="column3"><%=get_transactions(@conn.params["list_blocks_1"])%></td>
						<td class="column100 column3" data-column="column3"><%=get_miner(@conn.params["list_blocks_1"])%></td>
					</tr>

					<tr class="row100">
						<td class="column100 column1" data-column="column1"><%=block_height(@conn.params["list_blocks_2"])%></td>
						<td class="column100 column2" data-column="column2"><%=get_age(@conn.params["list_blocks_2"])%></td>
						<td class="column100 column3" data-column="column3"><%=get_transactions(@conn.params["list_blocks_2"])%></td>
						<td class="column100 column3" data-column="column3"><%=get_miner(@conn.params["list_blocks_2"])%></td>
					</tr>

					<tr class="row100">
						<td class="column100 column1" data-column="column1"><%=block_height(@conn.params["list_blocks_3"])%></td>
						<td class="column100 column2" data-column="column2"><%=get_age(@conn.params["list_blocks_3"])%></td>
						<td class="column100 column3" data-column="column3"><%=get_transactions(@conn.params["list_blocks_3"])%></td>
						<td class="column100 column3" data-column="column3"><%=get_miner(@conn.params["list_blocks_3"])%></td>
					</tr>

					<tr class="row100">
						<td class="column100 column1" data-column="column1"><%=block_height(@conn.params["list_blocks_4"])%></td>
						<td class="column100 column2" data-column="column2"><%=get_age(@conn.params["list_blocks_4"])%></td>
						<td class="column100 column3" data-column="column3"><%=get_transactions(@conn.params["list_blocks_4"])%></td>
						<td class="column100 column3" data-column="column3"><%=get_miner(@conn.params["list_blocks_4"])%></td>
					</tr>

					<tr class="row100">
						<td class="column100 column1" data-column="column1"><%=block_height(@conn.params["list_blocks_5"])%></td>
						<td class="column100 column2" data-column="column2"><%=get_age(@conn.params["list_blocks_5"])%></td>
						<td class="column100 column3" data-column="column3"><%=get_transactions(@conn.params["list_blocks_5"])%></td>
						<td class="column100 column3" data-column="column3"><%=get_miner(@conn.params["list_blocks_5"])%></td>
					</tr>

				</tbody>
			</table>
		</div>
	</section>
	

   


<!--===============================================================================================-->	
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/css/vendor/jquery/jquery-3.2.1.min.js") %>"></script>
<!--===============================================================================================-->
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/css/vendor/bootstrap/js/popper.js") %>"></script>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/css/vendor/bootstrap/js/bootstrap.min.js") %>"></script>
<!--===============================================================================================-->
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/css/vendor/select2/select2.min.js") %>"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/js/main.js") %>"></script>

</body>
</html>